.blog-articals p{
   color: #474c55;
   margin-bottom: 25px !important;	
   text-align: center;
   font-size: 22px;
   line-height: 1.7;
   font-family: "adobe-garamond-pro";
   letter-spacing: 1px;
   width: 800px;
   margin: 0 auto;
   font-weight: 300;
}